* {
  box-sizing: border-box;
  margin: 10px;
  padding: 10px;
}

body, div, h1 {
  border: 3px solid black;
}

.col {
  height: 400px;
  width: 25%;
  margin-bottom: 30px;
  margin-right: 40px;
  margin-left: 68px;
  display: inline-block;
}
.heading {
  background: purple;
  width: 95%;
  height: 200px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 35px;
}
.col-left {
  background-color: maroon;
}
.col-mid {
  background-color: lightgreen;
}
.col-right {
  background-color: orange;
}
