div {
    background: red;
    color: white;
    font-size: 32px;
    text-align: center;
    font-family: cursive, serif;
    font-weight: bold;
}

p {
    background: green;
    color: white;
    font-size: 18px;
    font-family: cursive;
}

button {
    background: orange;
    border: 4px ridge;
    font-size: 18px;
    font-family: 1.2rem "Fira Sans", sans-serif;
}