/* Search.css */
.search-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.search-container input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px; /* Adjust the width of the input field */
    margin-right: 10px;
}

.search-container button {
    padding: 10px 15px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-container button:hover {
    background-color: #0056b3; /* Darken button on hover */
}